@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background: linear-gradient(#AF56FE, #138496);
    }

    h1 {
        color: #fff;
        margin: 40px 0 60px 0;
        font-weight: 300;
    }

    .our-team-main {
        width: 100%;
        height: auto;
        border-bottom: 5px #323233 solid;
        background: #fff;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        transition: 0.5s;
        margin-bottom: 28px;
    }


        .our-team-main img {
            border-radius: 50%;
            margin-bottom: 20px;
            width: 90px;
        }

        .our-team-main h3 {
            font-size: 20px;
            font-weight: 700;
        }

        .our-team-main p {
            margin-bottom: 0;
        }

    .team-back {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 15px 0 15px;
        text-align: left;
        background: #fff;
    }

    .team-front {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 10;
        background: #fff;
        padding: 15px;
        bottom: 0px;
        transition: all 0.5s ease;
    }

    h4 {
        color: #3CADED
    }

    /*our-team-main*/
</style>
<div class="row">

    <!--team-1-->
    <div class="col-lg-4">
        <div class="our-team-main">
            <div class="team-front">
                <h4>SparkM</h4>
                <a>Smart Electricity Meter</a>
                <hr />
                <p align="left">
                    Voltage -  @ViewBag.Smartenergy_Voltage<br />
                    Current -   @ViewBag.Smartenergy_Current<br />
                    Units -   @ViewBag.Smartenergy_units<br />
                    Power Factor -  @ViewBag.Smartenergy_powerfactor<br />
                    Date : @ViewBag.Smartenergy_date<br />
                    Time : @ViewBag.Smartenergy_time<hr />
                    <a href="@Url.Action("Index","Energy")" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View More</a>
                </p>
            </div>
        </div>
    </div>
    <!--team-1-->
    <!--team-2-->
    <div class="col-lg-4">
        <div class="our-team-main">
            <div class="team-front">
                <h4>PowerM</h4>
                <a>Smart Energy Meter</a>
                <hr />
                <p align="left">
                    Voltage - @ViewBag.Electric_Meter_Voltage <br />
                    Current - @ViewBag.Electric_Meter_Current<br />
                    Units -@ViewBag.Electric_Meter_units<br />
                    Date : @ViewBag.Electric_Meter_date<br />
                    <br />

                    Time : @ViewBag.Electric_Meter_time <hr />
                    <a href="@Url.Action("Index","Temperature")" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View More</a>
                </p>
            </div>
        </div>
    </div>
    <!--team-2-->
    <!--team-3-->
    <div class="col-lg-4">
        <div class="our-team-main">
            <div class="team-front">
                <h4>ClimeT</h4>
                <a>Smart Temperature</a>
                <hr />
                <p align="left">
                    Temperature - @ViewBag.SmartTemperature_Temp &#x2103; <br />
                    Fahrenheit - @ViewBag.SmartTemperature_faht &#x2109;<br />
                    Date : @ViewBag.SmartTemperature_date<br />
                    <br />
                    <br />
                    Time : @ViewBag.SmartTemperature_time<hr />
                    <a href="@Url.Action("Index","Temperature")" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View More</a>
                </p>
            </div>
        </div>
    </div>
    <!--team-3-->
    <!--team-4-->
    <div class="col-lg-4">
        <div class="our-team-main">
            <div class="team-front">
                <h4>WagonT</h4>
                <a>Smart Vehicle Tracking</a>
                <hr />
                <p align="left">
                    Latitude - @ViewBag.SmartTracker_lat<br />
                    Longitude - @ViewBag.SmartTracker_long<br />
                    Date : @ViewBag.SmartTracker_date<br />
                    Time : @ViewBag.SmartTracker_time<hr />
                    <a href="@Url.Action("Index","Tracker")" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View More</a>
                </p>
            </div>
        </div>
    </div>
    <!--team-4-->
    <!--team-5-->
    <div class="col-lg-4">
        <div class="our-team-main">
            <div class="team-front">
                <h4>StainS</h4>
                <a>Smart Attendance</a>
                <hr />
                <p align="left">
                    Attendance Status  -  @ViewBag.attendance_Status <br />
                    Attendance Finger ID  -  @ViewBag.attendance_fingerid<br />
                    Attendance Date  -  @ViewBag.attendance_date<br />
                    Attendance Time  -  @ViewBag.attendance_time<hr />
                    <a href="@Url.Action("Index", "Attendance")" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View More</a>
                </p>
            </div>
        </div>
    </div>
    <!--team-5-->
    <!--team-6-->
    <div class="col-lg-4">
        <div class="our-team-main">
            <div class="team-front">
                <h4>NavigT</h4>
                <a>GPS Tracker</a>
                <hr />
                <p align="left">
                    Latitude - @ViewBag.SmartTracker_lat<br />
                    Longitude - @ViewBag.SmartTracker_long<br />
                    Date : @ViewBag.SmartTracker_date<br />
                    Time : @ViewBag.SmartTracker_time<hr />
                    <a href="@Url.Action("Index","Tracker")" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View More</a>
                </p>
            </div>
        </div>
    </div>
    <!--team-6-->
</div>


